### Приступая к работе

__Импортирую библиотеки__

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

__Открою датасет__

In [267]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [11]:
train

,Id,age,years_of_experience,lesson_price,qualification,physics,chemistry,biology,english,geography,history,mean_exam_points
0,0,40.0,0.0,1400.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,61
1,1,48.0,4.0,2850.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,76
2,2,39.0,0.0,1200.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,53
3,3,46.0,5.0,1400.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,54
4,4,43.0,1.0,1500.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,57
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,44.0,0.0,1700.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,83
9996,9996,51.0,0.0,1700.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,58
9997,9997,34.0,1.0,1250.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,62
9998,9998,33.0,3.0,1100.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,56
9999,9999,35.0,0.0,1450.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,52

In [76]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   10000 non-null  int64
 1   age                  10000 non-null  float64
 2   years_of_experience  10000 non-null  float64
 3   lesson_price         10000 non-null  float64
 4   qualification        10000 non-null  float64
 5   physics              10000 non-null  float64
 6   chemistry            10000 non-null  float64
 7   biology              10000 non-null  float64
 8   english              10000 non-null  float64
 9   geography            10000 non-null  float64
 10  history              10000 non-null  float64
 11  mean_exam_points     10000 non-null  int64
dtypes: float64(10), int64(2)
memory usage: 937.6 KB

__Разделю данные на признаки и целевую переменную__

In [14]:
X = train.drop("mean_exam_points", axis=1)
X

,Id,age,years_of_experience,lesson_price,qualification,physics,chemistry,biology,english,geography,history
0,0,40.0,0.0,1400.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0
1,1,48.0,4.0,2850.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,39.0,0.0,1200.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,46.0,5.0,1400.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,43.0,1.0,1500.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,44.0,0.0,1700.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0
9996,9996,51.0,0.0,1700.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,9997,34.0,1.0,1250.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
9998,9998,33.0,3.0,1100.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,9999,35.0,0.0,1450.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
y = train["mean_exam_points"]
y

0       61
1       76
2       53
3       54
4       57
        ..
9995    83
9996    58
9997    62
9998    56
9999    52
Name: mean_exam_points, Length: 10000, dtype: int64

### Алгоритм регрессии

__Лист__

In [66]:
class Leaf:
    
    def __init__(self, data, labels):
        self.data = data
        self.labels = labels
        self.prediction = self.predict()
        
    def predict(self):
        return np.mean(self.labels)

__Узел__

In [2]:
class Node:
    
    def __init__(self, index, t, true_branch, false_branch):
        self.index = index  # Индекс признака, по которому ведется сравнение с порогом в этом узле
        self.t = t  # Значение порога
        self.true_branch = true_branch  # Поддерево, удовлетворяющее условию в узле
        self.false_branch = false_branch  # Поддерево, не удовлетворяющее условию в узле

__Ошибка регрессии__

In [19]:
def calc_mse(y, y_pred):
    return np.mean((y - y_pred)**2)

__Разбиение датасета в узле__

In [21]:
def split(data, labels, column_index, t):
    
    left = np.where(data[:, column_index] <= t)
    right = np.where(data[:, column_index] > t)
        
    true_data = data[left]
    false_data = data[right]
    
    true_labels = labels[left]
    false_labels = labels[right]
        
    return true_data, false_data, true_labels, false_labels

__Нахождение наилучшнего разбиения данных__

In [3]:
def find_best_split(data, labels, min_samples_leaf = 5):
    best_mse = -1
    best_t = None
    best_index = None
    
    n_features = data.shape[1]
    
    for index in range(n_features):
    
        # Будем проверять только уникальные значения признака, исключая повторения
        t_values = np.unique(data[:, index])
        
        for t in t_values:
            true_data, false_data, true_labels, false_labels = split(data, labels, index, t)
            
            #  Пропускаем разбиения, в которых в узле остается менее 5 объектов
            if len(true_data) < min_samples_leaf or len(false_data) < min_samples_leaf:
                continue
            
            true_mean = np.mean(true_labels)
            false_mean = np.mean(false_labels)
            
            true_centered = true_labels - true_mean
            false_centered = false_labels - false_mean
            
            combined = np.concatenate((true_centered, false_centered), axis=None)
            
            current_mse = np.mean(combined**2)
            
            #  Выбираем порог, на котором получается максимальный прирост качества
            if current_mse < best_mse or best_mse == -1:
                best_mse, best_t, best_index = current_mse, t, index

    return best_mse, best_t, best_index

__Строительство дерева решений__

In [163]:
def build_tree(data, labels, depth = 10, min_samples_leaf=5):

    if depth <= 0:
        return Leaf(data, labels)
    
    mse, t, index = find_best_split(data, labels, min_samples_leaf)

    #  Базовый случай - прекращаем рекурсию, когда нет прироста в качества
    if mse < 0.5:
        return Leaf(data, labels)
    
    true_data, false_data, true_labels, false_labels = split(data, labels, index, t)
    
    # Рекурсивно строим два поддерева
    true_branch = build_tree(true_data, true_labels, depth - 1, min_samples_leaf)
    false_branch = build_tree(false_data, false_labels, depth - 1, min_samples_leaf)
    
    # Возвращаем класс узла со всеми поддеревьями, то есть целого дерева
    return Node(index, t, true_branch, false_branch)

__Предсказание по одному наблюдению__

In [26]:
def predict_object(obj, node):

    #  Останавливаем рекурсию, если достигли листа
    if isinstance(node, Leaf):
        answer = node.prediction
        return answer

    if obj[node.index] <= node.t:
        return predict_object(obj, node.true_branch)
    else:
        return predict_object(obj, node.false_branch)

__Предсказание__

In [89]:
def predict(data, tree):
    
    values = []
    for obj in data:
        prediction = predict_object(obj, tree)
        values.append(prediction)
    return np.array(values)

__Предсказание градиентного бустинга__

In [81]:
def gb_predict(X, trees_list, eta):
    return sum([eta * predict(X, alg) for alg in trees_list])

__Обучение стохастического градиентного бустинга__

In [82]:
def residual(y, z):
    return -(z - y)

In [142]:
def gb_fit(X_train, X_test, y_train, y_test, n_trees, depth, eta,
                     sample_size=0.5, random_state=21):
    # Деревья будем записывать в список
    trees = []
    
    # Будем записывать ошибки на обучающей и тестовой выборке на каждой итерации в список
    train_errors = []
    test_errors = []
    
    # Количество наблюдений в выборке
    n_samples = int(X_train.shape[0] * sample_size)
    
    for i in range(n_trees):
        tree = None
        
        # Генерируем случайную выборку
        sample_index = np.random.randint(0, n_samples, size=n_samples)
        X = X_train[sample_index]
        y = y_train[sample_index]
        
        # Первый алгоритм просто обучаем на выборке и добавляем в список
        if len(trees) == 0:
            # Обучаем первое дерево на обучающей выборке
            tree = build_tree(X, y, depth)
            
            train_errors.append(calc_mse(y_train, gb_predict(X_train, trees, eta)))
            test_errors.append(calc_mse(y_test, gb_predict(X_test, trees, eta)))
        else:
            # Получим ответы на текущей композиции
            target = gb_predict(X, trees, eta)
            
            # Алгоритмы начиная со второго обучаем на сдвиг
            tree = build_tree(X, residual(y, target), depth)
            
            train_errors.append(calc_mse(y_train, gb_predict(X_train, trees, eta)))
            test_errors.append(calc_mse(y_test, gb_predict(X_test, trees, eta)))

        trees.append(tree)
        
    return trees, train_errors, test_errors

$R^2$ __score__

In [1]:
def r2_score(y, y_pred):
    mse = sum((y - y_pred)**2)
    tse = (len(y) - 1) * np.var(y, ddof=1)
    r2_score = 1 - (sse / tse)
    return r2_score

### Обучение

__Выберу данные для обучения и для валидации__

In [54]:
X_train, X_valid, y_train, y_valid = train_test_split(X.drop("Id", axis=1), y, test_size=0.3,
                                                      random_state=21)

In [55]:
X_train.shape, y_train.shape

((7000, 10), (7000,))

__Обучу модель__

In [249]:
model = build_tree(X_train.to_numpy(), y_train.to_numpy(), depth=8, min_samples_leaf=55)

__Оценю качество__

На тренировочной выборке

In [250]:
y_train_pred = predict(X_train.to_numpy(), model)

In [251]:
calc_mse(y_train_pred, y_train.to_numpy())

72.16038055818838

На валидационной выборке

In [252]:
y_valid_pred = predict(X_valid.to_numpy(), model)

In [253]:
calc_mse(y_valid_pred, y_valid.to_numpy())

77.18808251352002

In [266]:
r2_score(y_valid, y_valid_pred)

0.6425048340936599

__Пробую другие варианты__

In [238]:
trees, train_errors, test_errors = gb_fit(
    X_train.to_numpy(),
    X_test.to_numpy(),
    y_train.to_numpy(),
    y_test.to_numpy(),
    n_trees=6,
    depth=100,
    sample_size=1.0,
    eta=1.0)

train_errors, test_errors

([4276.679142857143,
  68.44541699096128,
  61.37923817095951,
  57.10066210185161,
  55.098250025400226,
  52.034122576807526],
 [4283.334333333333,
  216.0237901234568,
  260.65200371670096,
  269.80561928527385,
  213.4265390142988,
  239.6209534034872])

### Предсказание

In [268]:
test

,Id,age,years_of_experience,lesson_price,qualification,physics,chemistry,biology,english,geography,history
0,10000,46.0,3.0,1050.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
1,10001,43.0,3.0,1850.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10002,52.0,1.0,1550.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,10003,57.0,6.0,2900.0,3.0,1.0,0.0,1.0,0.0,0.0,0.0
4,10004,44.0,4.0,3150.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
9995,19995,42.0,0.0,1500.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,19996,51.0,2.0,2200.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0
9997,19997,33.0,5.0,1100.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,19998,48.0,0.0,1750.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,19999,49.0,5.0,2000.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0

In [272]:
test_pred = predict(test.drop('Id', axis=1).to_numpy(), model)

In [277]:
submission = pd.DataFrame({'Id': test['Id'], 'mean_exam_points': test_pred})
submission

         Id  mean_exam_points
0     10000         54.500000
1     10001         63.631818
2     10002         43.313953
3     10003         88.943820
4     10004         87.015385
...     ...               ...
9995  19995         40.247706
9996  19996         81.428571
9997  19997         54.500000
9998  19998         63.631818
9999  19999         72.680556

[10000 rows x 2 columns]

In [280]:
submission.to_csv('submission.csv', index=False)

Конец!